
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<title>Contact</title>

<head>
    <link href="~/src/still/Contact.css" rel="stylesheet" />
</head>
<body>
    <div id="animation" class="contactArea">
        <div class="iconPlace">
            <div class="telephone">
                <i class="fa-solid fa-phone"></i>
                <h1>+543945794375</h1>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <h1>mr.unreal@gmail.com</h1>
            </div>
            <div class="address">
                <i class="fa-solid fa-house"></i>
                <h1>Piazza San Pietro, 00120 Città del Vaticano, Vatican City</h1>
            </div>
        </div>
        <div class="map">
            <i class="fa-solid fa-square"></i>
            <div class="mapPlace">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.916998195096!2d12.453446484887566!3d41.90181698458629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f6065f43c5247%3A0x62a85c7a90943b51!2sObelisk%20of%20St%20Peter&#39;s%20Square!5e0!3m2!1str!2str!4v1687389893714!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</body>